/.bundle
/coverage
/db/*.sqlite3
/log/*.log
/tmp
/config/database.yml
.DS_Store
/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/*/*/.DS_Store
db/schema.rb
rails_best_practices_output.html
phrase