INTRO
<br/>

<div>
  Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
</div>

<br/>

<%= form_for current_order do |f| %>
  <%= render partial: "pages/partials/page_data" %>
  <%= f.submit "Aizpildīt testu" %>
<% end %>